.main {
    background-image: url("../images/90sr&b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: darkblue;
    min-height: 1400px;
}

header {
    flex: 1;
    background-color: blue;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-height: 400px;
    min-width: 100%;
}

.gif-display {
    top: 200px;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
}

#gif-add {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 10px;
    max-height: 100%;
    overflow: auto;

}

.gifCard {
    z-index: 1;
    margin: 15px;
    overflow: auto;
    max-height: 400px;
}
